body{
font-family: Arial, sans-serif;
margin:0;
background:#f5f5f5;
}

header{
background:#0B1F3A;
color:gold;
padding:20px;
text-align:center;
}

nav{
background:#333;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
}

section{
padding:30px;
text-align:center;
}

.btn{
display:inline-block;
background:#25D366;
color:white;
padding:12px 20px;
margin:10px;
text-decoration:none;
border-radius:5px;
}

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
}
.card{
  border:1px solid #ccc;
  width:250px;
  padding:10px;
  margin:10px;
  display:inline-block;
}
.card img{
  width:100%;
}
.search-box{
  text-align:center;
  margin:20px;
}
/* Founder Section Styling */

.founder-section {
  background: linear-gradient(135deg, #020617, #0f172a);
  padding: 70px 20px;
  text-align: center;
  color: white;
}

.founder-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid gold;
  object-fit: cover;
  box-shadow: 0 0 25px gold;
  margin: 20px auto;
}

.founder-name {
  font-size: 26px;
  font-weight: bold;
  color: gold;
  margin-top: 15px;
}

.founder-text {
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.8;
  font-size: 17px;
  color: #e5e7eb;
}
